.DS_Store
.idea
.next
.next_cache_pre_gallery_fix
node_modules
coverage
.playwright-browsers
playwright-report
test-results
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
